
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isUserAuthenticated() {
      return request.auth != null;
    }
    
    match /users/{userId} {
      allow read, write: if isUserAuthenticated() && request.auth.uid == userId;
    }
    
    match /clients/{clientId}/{document=**} {
       allow read, write: if isUserAuthenticated();
    }

    match /clients/{clientId} {
      allow read, write: if isUserAuthenticated();
    }
    
    match /orders/{orderId} {
        allow read, write: if isUserAuthenticated();
    }
    match /drivers/{driverId} {
        allow read, write: if isUserAuthenticated();
    }
    match /origins/{originId} {
        allow read, write: if isUserAuthenticated();
    }
    match /destinos/{destinoId} {
        allow read, write: if isUserAuthenticated();
    }
    match /vehicles/{vehicleId} {
        allow read, write: if isUserAuthenticated();
    }
    match /financialCategories/{categoryId} {
        allow read, write: if isUserAuthenticated();
    }
    match /financialEntries/{entryId} {
        allow read, write: if isUserAuthenticated();
    }
  }
}
