
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isUserAuthenticated() {
      return request.auth != null;
    }
    
    // Regra para a coleção de utilizadores: apenas o próprio utilizador pode aceder aos seus dados.
    match /users/{userId} {
      allow read, write: if isUserAuthenticated() && request.auth.uid == userId;
    }

    // Regra genérica para TODAS as outras coleções e suas subcoleções.
    // O {wildcard=**} garante que a regra se aplique a qualquer caminho de documento.
    match /{path=**} {
       allow read, write: if isUserAuthenticated();
    }
  }
}
